*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*home page*/
#body1{
    background: url(images/backgrd.jpg);
    margin-bottom: 2%;

}
#nav-bar{
    z-index: 2;	
}
#hamburger{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
    cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: wheat;
	display: block;
	border-radius: 5px;
    
    border: black;
}
#bar1{
	margin-bottom: 4px;
}
#bar3{
	margin-top: 4px;
}
.nav li a{
	color: black;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.nav-bg, #nav-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.nav-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,wheat,wheat);
	border-radius: 50%;
	transition: 0.3s ease;
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: black;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}
.content{
    padding: 280px 0px 10px 40px;
}
.content h2{
    color: white;
    font-size: 50px;
}
.content h1{
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#portfolio {
    margin-left: 37px;
    margin-bottom: 15px;
    width: 180px;
    background-color: wheat;
    padding-right: 12px;
    padding-left: 23px;
    padding-top: 2px;
    padding-bottom: 4px;
    border-radius: 10px;
    font-size: 35px;
}
#portfolio a {
    color: black;
    text-decoration: none;
}
#portfolio a:hover {
    color: rgb(255, 30, 0)
}
.subhead {
    text-align: center;
    padding-bottom: 2%;
}
.subhead h2 {
    color: white;
    font-size: 40px;
}
section #images{
    margin-left: 30%;
    display: flex;
}
.img1{
    padding-right: 10px;
}
.img3{
    padding-left: 10px;
}
.img1 h4{
    font-size: 25px;
    color: white;
    padding-left: 36%;
    padding-top: 1%;
}
.img2 h4{
    font-size: 25px;
    color: white;
    padding-left: 39%;
    padding-top: 1%;
}
.img3 h4{
    font-size: 25px;
    color: white;
    padding-left: 43%;
    padding-top: 1%;
}
/*About page*/
#abtBody{
    background-color: whitesmoke;
    margin-top: 58px;
    margin-left: 13%;
    width: 75%;
    padding-bottom:30px ;
    border: solid;
    border-color: black;
    box-shadow: 0 10px 10px rgb(255, 205, 158), 0 10px 10px rgb(255, 205, 158);
}
#about h1{
    text-align: center;
    font-size: 40px;
    padding-top: 4%;
    padding-bottom: 2px;
    color: wheat;
}
#abtContent{
    display: flex;
    padding-top: 3%;
}
#abtImage img{
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 70px;
    margin-bottom: 20px;
    border-radius: 50%;
    padding: 2%;
} 
.abtText{
    margin-left: 100px;
    width: 40%;
    height: 40%;
    padding: 3%;
    font-size: 30px;
    border-radius: 3%;
    
}
.abtText p{
    padding-top: 2px;
    text-align: left;
    font-size: 23px;
}
#edu{
    display: flex;
}

.edu{
    margin-left: 5%;
    margin-bottom: 1%;
}

#edu .edu {
    font-size: 20px;
    margin-bottom: 1%;
    margin-top: 1%;
    
}
#edu .edu label{
    margin-top: 2%;
    font-size: 23px;
}
#edu .addon{
    margin-top: 1%;
    padding-left: 30%;
    font-size: 21px;
}
.subjects{
    display: flex;
}
#subjects{
    margin-left: 5%;
}
#subjects h1{
    font-size: 30px;
}
#subjects label{
    font-size: 23px;
}
#current{
    margin-top: 1%;
    padding-left: 17.5%;
    font-size: 22px;
}
#myskills{
    width: 500px;
    margin: 60px auto;
    color: black;
    text-transform: uppercase;
}
#myskills li{
    margin: 20px 0;
}
.sbar{
    background-color: wheat;
    display: block;
    height: 30px;
    border: 1px solid rgb(255, 30, 0);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #423b38e2; 
}
.sbar span{
    height: 30px;
    float: left;
    background-color: black;
}
.html{
    width: 90%;
    animation: html 3s;
}
.css{
    width: 70%;
    animation: css 3s;
}
.js{
    width: 60%;
    animation: js 3s;
}
.python{
    width: 40%;
    animation: python 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    }
    100%{
        width: 60%;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
footer h1{
    margin-top: 2%;
    text-align: center;
    color: whitesmoke;
    font-size: larger;
}
/*Contact Page*/
.contacthead{
    text-align: center;
    padding-top: 50px;
    color: white;
}
.contacthead h1{
    font-size: 40px;
}
.contactinfo{
    margin-top: 2%;
    margin-left: 20%;
    border: solid;
    border-color: wheat;
    border-radius: 10px;
    width: 60%;
    align-content: center;
    box-shadow: 0 10px 10px rgb(211, 211, 211), 0 10px 10px rgb(211, 211, 211);
}
#pngs{
    padding-top: 2%;
    padding-left: 3%;
    
}
.png1{
    padding-bottom: 2%;
}
#gmail{
    display: flex;
}
#gmaillink{
    padding-top: 3.5%;
    padding-left: 2.5%;
}
#gmaillink a{
    text-decoration: none;
    font-size: 30px;
    color: white;
}
#cellphone{
    display: flex;
}
#cellphonelink{
    padding-top: 3.5%;
    padding-left: 2.5%;
    font-size: 30px;
    color:white;
}
#linkedin{
    display: flex;
}
#linkedlink{
    padding-top: 3.5%;
    padding-left: 2.5%;
    
}
#linkedlink a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}
#github{
    display: flex;
}
#githublink{
    padding-top: 3.5%;
    padding-left: 2%;
}
#githublink a{
    text-decoration: none;
    font-size: 30px;
    color:white;
}
section form{
    display: block;
    text-align: justify;
    color: white;
    margin-left: 30%;
    margin-top: 2%;
    font-size: 30px;
    border: solid;
    border-color: wheat;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgb(211, 211, 211), 0 10px 10px rgb(211, 211, 211);
    padding: 2%;
    width: 40%;
}
#feedback h1{
    color: white;
    font-size: 40px;
    margin-left: 30%;
    margin-top: 5%;
}
section .input{
    width: 600px;
    height: 40px;
}
section #textarea{
    width: 600px;
}
section .button{
    width: 200px;
    height: 30px;
    font-size: large;
    font-weight: bolder;
    
}
#projecthead{
    color: wheat;
    margin-top: 100px;
    margin-left: 38%;
    font-size: 25px;
}
#projects{
    display: flex;
    margin-top: 20px;
    margin-left: 13%;
}
section .project1:hover{
    background-color: wheat;
}
.project1{
    margin-right: 20px;
    padding: 1%;
    border-radius: 10px;
    
}
.project1 img{
    border-radius: 10px;
}
.project2{
    padding: 1%;
    border-radius: 10px;
}
.project2 img{
    border-radius: 10px;
}
section .project2:hover{
    background-color: wheat;
}
.project3{
    margin-left: 20px;
    padding: 1%;
    border-radius: 10px;
}
.project3 img{
    border-radius: 10px;
}
section .project3:hover{
    background-color: wheat;
}
#projects2{
    display: flex;
    margin-left: 12%;
    margin-top: 3%;
}
.project4{
    margin-left: 20px;
    padding: 1%;
    border-radius: 10px;
}
.project4 img{
    border-radius: 10px;
}
section .project4:hover{
    background-color: wheat;
}
.project5{
    margin-left: 20px;
    padding: 1%;
    border-radius: 10px;
}
.project5 img{
    border-radius: 10px;
}
section .project5:hover{
    background-color: wheat;
}
.project6{
    margin-left: 20px;
    padding: 1%;
    border-radius: 10px;
}
.project6 img{
    border-radius: 10px;
}
section .project6:hover{
    background-color: wheat;
}
#testimonials{
    background-color: white;
    width: 60%;
    margin-left: 20%;
    margin-top: 2%;
    box-shadow: 0 10px 10px rgb(255, 213, 136), 0 10px 10px rgb(255, 213, 136);
    border-radius: 13px;

}
.testimonials{
    font-size: 20px;
    color: wheat;
    text-align: center;
    margin-top: 100px;
}
#sandile{
    display: flex;
}
#sandile p{
    margin-top: 3%;
    margin-left: 5%;
    font-size: 20px;
    width: 60%
}
#laeeqah{
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
}
#laeeqah p{
    margin-top: 3%;
    margin-left: 4%;
    font-size: 20px;
    width: 60%;
}
#laeeqah img{
    border-radius: 50%;
}
#aashiq{
    display: flex;
    margin-left: 2%;
    margin-top: 2%;
}
#aashiq p{
    margin-top: 3%;
    margin-left: 4%;
    font-size: 20px;
    width: 60%;
}
#aashiq img{
    border-radius: 50%;
}
/*home media query*/
@media only screen and (max-width: 390px){
    .content{
        padding: 170px 0px 10px 40px;
    }
    .content h2{
        font-size: 25px;
    }
    .content h1{
        font-size: 35px;
    }
    #portfolio {
        width: 100px;
        font-size: 20px;
        padding-left: 3.5%;
        
    }
    .subhead {
        width: 100%;
        padding-bottom: 3%;
        padding-top: 3%;
    }
    .subhead h2 {
        text-align: center;
        font-size: 20px;
    }
    .pic1{
        width: 70px;
        height: 70px;
    }
    section #images{
        margin-left: 74px;
    }
    .img1 h4{
        font-size: 15px;
        padding-left: 20%;
    }
    .img2 h4{
        font-size: 15px;
        padding-left: 24%;
    }
    .img3 h4{
        font-size: 15px;
        padding-left: 34%;
    }
    footer h1{
        margin-top: 5%;
        text-align: left;
        margin-left: 3%;
        color: whitesmoke;
        font-size: 10px;
    }
    /*About*/
    #about h1{
        text-align: center;
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 2px;
        color: wheat;
    }
    #abtBody{
        margin-top: 10px;
        margin-left: 5%;
        width: 90%;
        padding-bottom: 30px;
    }
    #abtContent{
        display: list-item;
    }
    #abtImage img{
        margin-left: 60px;
        margin-top: 10px;
        width: 200px;
        height: 200px;
    } 
    .abtText{
        margin-left: 25px;
        width: 85%;
        height: 45%;
        padding: 3%;
        font-size: 17px;
        
    }
    .abtText p{
        padding-top: 2px;
        text-align: left;
        font-size: 17px;
    }
    #edu{
        display: list-item;
    }
    #edu .edu {
        font-size: 17px;
        margin-bottom: 1%;
        margin-top: 1%;
    }
    #edu .edu label{
        margin-top: 2%;
        font-size: 17px;
    }
    #edu .addon{
        margin-top: 2%;
        padding-left: 5%;
        font-size: 17px;
    }
    .subjects{
        margin-top: 2%;
        display: list-item;
    }
    #subjects h1{
        font-size: 25px;
    }
    #subjects label{
        font-size: 17px;
    }
    #current{
        margin-top: 10px;
        padding-left: 5%;
        font-size: 17px;
    }
    #myskills{
        margin-top: 5%;
        width: 270px;
        margin-left: 5% ;
        color: black;
        text-transform: uppercase;
    }
    #myskills li{
        margin: 10px 0;
    }
    .contacthead h1{
        font-size: 25px;
    }
    .contactinfo{
        margin-top: 2%;
        margin-left: 5%;
        width: 90%;
    }
    .png1{
        width: 55px;
        height: 55px;
    }
    
    #gmaillink a{
        padding-top: 2%;
        font-size: 13px;
    }
    #cellphonelink {
        font-size: 13px;
    }
    #githublink a{
        font-size: 13px;
    }
    #linkedlink a{
        font-size: 13px;
    }
    section form{
        margin-left: 5%;
        font-size: 17px;
        width: 90%;
    }
    #feedback h1{
        color: white;
        font-size: 20px;
        margin-left: 5%;
    }
    section .input{
        width: 300px;
        height: 30px;
    }
    section #textarea{
        width: 300px;
    }
    /*Projects*/
    #projecthead{
        margin-left: 0%;
        font-size: 15px;
        text-align: center;
    }
    #projects{
       display: list-item;
       margin-left: 10%;
    }
    .project1 img{
        width: 300px;
        height: 200px;
    }
    .project2 img{
        width: 300px;
        height: 200px;
    }
    .project3 img{
        display: none;
    }
    #projects2{
        margin-top: 1%;
        margin-left: 5%;
        display: list-item;
    }
    .project4 img{
        width: 300px;
        height: 200px;
    }
    .project5 img{
        width: 300px;
        height: 200px;
    }
    .project6 img{
        width: 300px;
        height: 200px;
    }
    section .project1:hover{
        width: 308px;
    }
    section .project2:hover{
        width: 308px;
    }
    section .project3:hover{
        width: 308px;
    }
    section .project4:hover{
        width: 308px;
    }
    section .project4:hover{
        width: 308px;
    }
    section .project1:hover{
        width: 308px;
    }
    .testimonials h1{
        font-size: 25px;
    }
    #testimonials{
        width: 90%;
        margin-left: 5%;
        padding-bottom: 2%;
    }
    #sandile img{
        margin-left: 10%;
    }
    #sandile{
        display: list-item;
    }
    #sandile p{
        margin-top: 3%;
        margin-left: 15%;
        font-size: 15px;
        width: 70%
    }
    #laeeqah{
        display: list-item;
    }
    #laeeqah p{
        margin-left: 15%;
        font-size: 15px;
        width: 70%;
    }
    #laeeqah img{
        margin-left: 13%;
    }
    #aashiq{
        display: list-item;
    }
    #aashiq p{
        margin-left: 15%;
        font-size: 15px;
        width: 60%;
    }
    #aashiq img{
        margin-left: 15%;
    }
}